.login-header-title {
  background-color: transparent;
  color: rgb(66, 66, 66);
  font-family: Gotham, sans-serif;
}

.login-main {
  background: url('../../images/phone_3-2.jpg');
  background-position: center;
  background-size: cover;
  font-family: Gotham, sans-serif;
  height: 100vh;
}

.login-main__div {
  font-size: 140%;
  margin: 0 auto 10%;
}

.login-main__div__img {
  width: 35px;
}

.login-main__form {
  background-color: rgba(248, 248, 248, 0.8);
  color: rgb(66, 66, 66);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 0 40px;
  width: 40%;
}

.login-form__label {
  font-size: 200%;
  width: 80%;
}

.login-form__label__input {
  background-color: inherit;
  border: transparent;
  border-bottom: 1px solid black;
  border-radius: 5px;
  color: rgb(66, 66, 66);
  font-size: 80%;
  margin: 5% 5% 3%;
  padding: 4%;
  width: 100%;
}

.login-form__label__input:focus {
  border-color: rgb(114, 175, 89);
  outline: none;
}

.login-form__label__input:-webkit-autofill {
  transition: background-color, 5000s ease-in-out 0s;
}

.login-form__label__input:-webkit-autofill:hover {
  transition: background-color, 5000s ease-in-out 0s;
}

.login-form__label__input:-webkit-autofill:focus {
  transition: background-color, 5000s ease-in-out 0s;
}

.login-form__label__input:-webkit-autofill:active {
  transition: background-color, 5000s ease-in-out 0s;
}

.login-form__button {
  border: 0 transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 150%;
  margin: 6% auto 15%;
  padding: 2%;
  width: 60%;
}

.login-form__button:enabled {
  background-color: rgb(114, 175, 89);
  color: white;
}

.login-form__button:disabled {
  background-color: rgb(136, 172, 122);
  cursor: not-allowed;
}

.login-form__button:enabled:hover {
  background-color: rgb(86, 134, 68);
}

.login-form__button:disabled:hover {
  cursor: not-allowed;
}

